  <!DOCTYPE html>
<html lang="ar" ng-app="mofed" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>mohammed</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/angular-toggle-switch-bootstrap-3.css">
  <link rel="stylesheet" href="/css/nya-bs-select.min.css">
  <link rel="stylesheet" href="/css/angular-ui-notification.min.css">
  <link rel="stylesheet" href="/css/angular-block-ui.min.css">
  <link rel="stylesheet" href="/css/userStyle.css">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="#"><b>شركة سفر</b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="headerwrap" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6" dir="rtl">
          <h1>أحجز الان واختر برنامجك 
               السياحي ...</h1>        
        </div><!-- /col-lg-6 -->
        <div class="col-lg-6">
          <img class="img-responsive" src="/img/ipad-hand.png" alt="">
        </div><!-- /col-lg-6 -->
        
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  
  <br><br>
  <div class="container">
    <div class="container">
    <div class="row" dir="rtl">
        <h2>
            البرامج السياحية</h2>
            <br><br>
        <div class="col-md-6">
            <div class="blockquote-box clearfix">
                <div class="square pull-right">
                    <span class="glyphicon glyphicon-heart-empty glyphicon-lg"></span>
                </div>
                <h4>
                    رحلة عائلية   <a href="#" class="btn btn-md btn-hover btn-success">حجز</a>
                </h4>
                <p>
                    اماكن ترفيهية وتوفر موصلات ونقل من والي المطار
                    وخدمات 
                    الحجز الفندقي وترتيب الزيارات.
                </p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-right">
                    <span class="glyphicon glyphicon-star-empty glyphicon-lg"></span>
                </div>
                <h4>
                    اي شي   <a href="#" class="btn btn-md btn-hover btn-success">حجز</a></h4>
                <p>
                    اماكن ترفيهية وتوفر موصلات ونقل من والي المطار
                    وخدمات الحجز الفندقي وترتيب الزيارات.
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-right">
                    <span class="glyphicon glyphicon-tree-conifer glyphicon-lg"></span>
                </div>
                <h4>
                    عمل   <a href="#" class="btn btn-md btn-hover btn-success">حجز</a></h4>
                <p>
                    اماكن ترفيهية وتوفر موصلات ونقل من والي المطار
                    وخدمات الحجز الفندقي وترتيب الزيارات.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-right">
                    <span class="glyphicon glyphicon-plane glyphicon-lg"></span>
                </div>
                <h4>
                    بنات   <a href="#" class="btn btn-md btn-hover btn-success">حجز</a></h4>
                <p>
                    اماكن ترفيهية وتوفر موصلات ونقل من والي المطار
                    وخدمات الحجز الفندقي وترتيب الزيارات.
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-right">
                    <span class="glyphicon glyphicon-glass glyphicon-lg"></span>
                </div>
                <h4>
                    شباب   <a href="#" class="btn btn-md btn-hover btn-success">حجز</a></h4>
                <p>
                    اماكن ترفيهية وتوفر موصلات ونقل من والي المطار
                    وخدمات الحجز الفندقي وترتيب الزيارات.
                </p>
            </div>
            <div class="blockquote-box blockquote-danger clearfix">
                <div class="square pull-right">
                    <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                </div>
                <h4>
                    شهر عسل   <a href="#" class="btn btn-md btn-hover btn-success">حجز</a></h4>
                <p>
                    اماكن ترفيهية وتوفر موصلات ونقل من والي المطار
                    وخدمات الحجز الفندقي وترتيب الزيارات.
                </p>
            </div>
        </div>
    </div>
</div>

  </div><!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
